<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputStylesheet library="default" name="css/style.css" />
		<title>Simple Blog</title>
	</h:head>
	<body>
		<ui:include src="/WEB-INF/template/header.xhtml" />
		<div class="container">
			<f:metadata>
				<f:viewParam name="id" value="#{usuarioMB.url_id}" />
				<f:event type="preRenderView" listener="#{usuarioMB.buscarUsuario()}" />
			</f:metadata>

			<p:growl id="growl" showDetail="true" sticky="false" />		
			<ul class="breadcrumb">
				<li><a href="#{request.contextPath}/index.jsf">Inicio</a></li>
				<li>Autores</li>
				<li>#{usuarioMB.usuario.nome}</li>
			</ul>		
			<h2>#{usuarioMB.usuario.nome}</h2>
			<p>@#{usuarioMB.usuario.username}</p>
			<p>#{usuarioMB.usuario.bio}</p>
			<p>#{usuarioMB.usuario.artigos.size()} publicações feitas</p>
			<hr/>
			<h3>Publicações</h3>
			<ui:repeat value="#{usuarioMB.usuario.artigos}" var="artigo">
				<ui:include src="/WEB-INF/template/bloco-artigo.xhtml" />
			</ui:repeat>
		</div>
</body>
</html>
