<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputStylesheet library="default" name="css/style.css" />
		<title>Blog - ${artigoMB.artigo.titulo}</title>
	</h:head>
	<body>
		<ui:include src="/WEB-INF/template/header.xhtml" />
		<div class="container">			
			<p:growl id="growl" showDetail="true" sticky="false" />

			<ul class="breadcrumb">
				<li><a href="#{request.contextPath}/index.jsf">Inicio</a></li>
				<li>Sobre</li>
			</ul>

			<div>
				<h1 id="blog">Blog</h1>
				<h2 id="resumo">Resumo</h2>
				<p>Este é um trabalho final para a disciplina de Tópicos Avançados em Linguagem de Programação (TALP), ministrada no primeiro semestre de 2018 (1/2018) na Universidade Católica de Brasília, cuja ementa tem como conteúdo Java EE com MVC, JPA e JSF.</p>
				<p>O trabalho é considerado apenas um exercício para revisar todos os conteúdos ministrados no semestre. Por conta disso, tem por finalidade ser simples, porém bem elaborado.</p>
				<p>O tema do trabalho é de escolha individual. A finalidade do trabalho é implementar um pequeno e simples blog corporativo, onde:</p>
				<ul>
					<li>Os usuários serão mantidos pelo administrador do sistema. Nesse caso, supostamente seria a equipe.</li>
					<li>As publicações, denominadas &#39;artigos&#39;, serão em texto simples.</li>
					<li>Cada publicação poderá ter <em>tags</em>, sendo essas, uma forma de categorizá-las.</li>
					<li>As publicações não terão interações de usuários visitantes, podendo estes somente visualizar o conteúdo.</li>
				</ul>
				<h2 id="projeto">Projeto</h2>
				<p>O seguinte website utiliza-se de:</p>
				<ul>
					<li>JRE 8</li>
					<li>MySQL 5.7</li>
					<li>JSF 2.1.7 (Mojarra)</li>
					<li>JPA 2.1.7 (Eclipse Link)</li>
					<li>JSTL 2.2</li>
					<li>PrimeFaces (JSF Faces)</li>
				</ul>
				
				<p>Repositório: <a href="https://github.com/resxp/simple_blog">Github (resxp)</a></p>
			</div>
		    
		</div>
</body>
</html>
