/* CONFIGURACOES GERAIS - CSS RESET */
html {
  font-family: sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
}

/* CONFIGURACOES DO HEADER */
header {
  height: 200px;
  width: 100%;
  border-bottom: 1px solid #CCC;
  background: #ECECEC;
}

.header-content {
  padding: 25px 50px;
}

.header-content h1 {
  margin-bottom: 5px;
}

.header-content span {
  font-style: italic;
}

/* CONFIGURACOES DA NAVBAR SUPERIOR */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

/* CONFIGURACOES DO CONTAINER DE CONTEUDO */
.container {
  margin: 0px 10% 20px 10%;
  padding: 0px 15px;
  text-align: justify;
}

.container a, a:visited {
  color: blue;
}

.container-dashboard {
  margin: 200px 5%;
  padding: 20px 10px;
}

.artigo #descricao {
  font-size: 14px;
  font-style: italic;
}

.artigo #data-hora {
  font-size: 14px;
}

.artigo #texto {
  margin: 25px 0px;
  padding: 10px 0px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content {
  padding: 2px 16px;
}

/* Style the list */
ul.breadcrumb {
   padding: 10px 16px;
   list-style: none;
   background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
   display: inline;
   font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
   padding: 8px;
   color: black;
   content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
   color: #0275d8;
   text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
   color: #01447e;
   text-decoration: underline;
}

.dashboard-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7094db;
}

.dashboard-menu li {
    float: left;
}

.dashboard-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dashboard-menu li a:hover {
    background-color: #3366cc;
}

.dashboard-container {
	border: 1px solid #CCC;
	padding: 20px 50px;
}

.dashboard-container input[type=button], input[type=submit], input[type=reset] {
    background-color: #3366cc;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], input[type=password], input[type=select], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
}

/* CONFIGURACOES DO FOOTER */
footer {
  height: 150px;
  width: 100%;
  border-top: 1px solid #CCC;
  background: #ECECEC;
}
