<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputStylesheet library="default" name="css/style.css" />
		
		<h:outputScript library="default" name="js/datatables.min.js" />
		<h:outputStylesheet library="default" name="js/datatables.min.css" />
		
		<script>
			$(document).ready(function() {
			    $('#table-usuarios').DataTable();
			} );
		</script>
		<title>Simple Blog</title>
	</h:head>
	<body>
		<ui:include src="/WEB-INF/template/header.xhtml" />
		<div class="container" style="margin-top: 20px;">
			<c:if test="${loginMB.isLogged() == false}">
				<h1>VOCÊ PRECISA ESTAR LOGADO</h1>
			</c:if>
			<c:if test="${loginMB.isLogged() == true and loginMB.usuario.tipo == 1}">
				<h1>VOCÊ NÃO POSSUI PERMISSÃO PARA ACESSAR ESSA ÁREA.</h1>
			</c:if>
			
			<c:if test="${loginMB.isLogged() == true and loginMB.usuario.tipo == 0}">
				<p:growl id="growl" showDetail="true" sticky="false" /> 
				<ui:include src="/WEB-INF/template/menu-dashboard.xhtml" />
				<div class="dashboard-container">
					<h3>Usuários</h3>
					<hr />
				
					<h:dataTable id="table-usuarios" value="#{usuarioMB.todosUsuarios}" var="usuario">
						<h:column>
							<f:facet name="header">
								<h:outputText value="#" />
							</f:facet>
							<h:outputText value="#{usuario.id}" />
						</h:column>
						
						<h:column>
							<f:facet name="header">
								<h:outputText value="Nome" />
							</f:facet>
							<h:outputText value="#{usuario.nome}" />
						</h:column>
						
						<h:column>
							<f:facet name="header">
								<h:outputText value="Username" />
							</f:facet>
							<h:outputText value="#{usuario.username}" />
						</h:column>
						
						<h:column>
							<f:facet name="header">
								<h:outputText value="Acesso" />
							</f:facet>
							<h:outputText value="#{usuario.tipo == 0 ? 'Administrador' : 'Comum'}" />
						</h:column>
						
						<h:column>
							<f:facet name="header">
								<h:outputText />
							</f:facet>
							<h:form>
								<c:if test="#{usuario.id != loginMB.usuario.id}">
									<h:commandLink value="Apagar" action="#{usuarioMB.excluir(usuario)}"/>
								</c:if>
							</h:form>
						</h:column>
					</h:dataTable>
			</div>
		</c:if>	
		</div>
</body>
</html>
