<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputStylesheet library="default" name="css/style.css" />
		<title>Simple Blog</title>
	</h:head>
	<body>
		<ui:include src="/WEB-INF/template/header.xhtml" />
		<div class="container" style="margin-top: 20px;">
			<c:if test="${loginMB.isLogged() == true}">
				<h1>VOCÊ JÁ ESTÁ LOGADO</h1>
			</c:if>
			
			<c:if test="${loginMB.isLogged() == false}">
				<p:growl id="growl" showDetail="true" sticky="false" /> 
				<div class="dashboard-container">
					<h3>Usuários</h3>
					<hr />
					<h:form>
						<p><h:outputLabel value="Username:" for="usuario_input" /></p>
						<h:inputText value="#{loginMB.param_username}" id="usuario_input" label="Campo Usuario" name="Campo Usuario" required="true"/>
						
						<p><h:outputLabel value="Senha:" for="senha_input"/></p>
						<h:inputSecret value = "#{loginMB.param_senha}" id="senha_input" label="Campo Senha" name="Campo Senha" required="true"/>
						
						<h:commandButton action="#{loginMB.login()}" value="Entrar" />
					</h:form>
				</div>
		</c:if>			
		</div>
</body>
</html>
