<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputStylesheet library="default" name="css/style.css" />
		<title>Simple Blog</title>
	</h:head>
	<body>
		<ui:include src="/WEB-INF/template/header.xhtml" />
		<div class="container" style="margin-top: 20px;">
			<c:if test="${not empty loginMB.usuario}">
				<f:metadata>
					<f:event type="preValidate" listener="#{artigoMB.novoArtigo()}" />
				</f:metadata>
			
				<p:growl id="growl" showDetail="true" sticky="false" />
				<ui:include src="/WEB-INF/template/menu-dashboard.xhtml" />
				<div class="dashboard-container">
					<h3>Escrever novo artigo</h3>
					<hr />
					<h:form>
						<p><h:outputLabel value="Titulo:"/></p>
						<h:inputText id="titulo" label="Campo Titulo" required="true" value="#{artigoMB.artigo.titulo}" />
						
						<p><h:outputLabel value="Texto:"/></p>
						<h:inputTextarea rows="10" cols="150" id="texto" label="Texto" required="true" value="#{artigoMB.artigo.texto}" />
						
						<h:commandButton action="#{artigoMB.salvarArtigo(loginMB.usuario.username)}" value="Salvar e publicar" />
					</h:form>
				</div>
			</c:if>
			
			<c:if test="${empty loginMB.usuario}">
				<h2>VOCÊ NÃO POSSUI ACESSO A ESSA PAGINA!</h2>
			</c:if>
		</div>
</body>
</html>
