<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputStylesheet library="default" name="css/style.css" />
		<title>Simple Blog</title>
	</h:head>
	<body>
		<ui:include src="/WEB-INF/template/header.xhtml" />
		<div class="container" style="margin-top: 20px;">
			<c:if test="${loginMB.isLogged() == false}">
				<h1>VOCÊ PRECISA ESTAR LOGADO</h1>
			</c:if>
			<c:if test="${loginMB.isLogged() == true and loginMB.usuario.tipo == 1}">
				<h1>VOCÊ NÃO POSSUI PERMISSÃO PARA ACESSAR ESSA ÁREA.</h1>
			</c:if>
			<c:if test="${loginMB.isLogged() == true and loginMB.usuario.tipo == 0}">
				<f:metadata>
					<f:event type="preValidate" listener="#{usuarioMB.novoUsuario()}" />
				</f:metadata>

				<p:growl id="growl" showDetail="true" sticky="false" />
				
				<ui:include src="/WEB-INF/template/menu-dashboard.xhtml" />
				<div class="dashboard-container">
					<h:form>
						<h3>Cadastro de Usuário</h3>
						<hr />
					
						<p><h:outputLabel value="Nome:" for="campo_nome"/></p>
						<h:inputText id="campo_nome" label="Campo Nome" required="true" value="#{usuarioMB.usuario.nome}" />
						
						<p><h:outputLabel value="Usuario:" for="campo_usuario"/></p>
						<h:inputText id="campo_usuario" label="Campo Usuario" required="true" value="#{usuarioMB.usuario.username}" />
						
						<p><h:outputLabel value="Descrição:"/><p/></p>
						<h:inputTextarea rows="10" cols="150" id="texto" label="Texto" required="true" value="#{usuarioMB.usuario.bio}" />
						
						<p><h:outputLabel value="Permissão:"/></p>
						<h:selectOneMenu value="#{usuarioMB.usuario.tipo}" id="campo_permissao" label="CampoPermissao" required="true">
							<f:selectItems value="#{usuarioMB.getTipos()}" var="tipo" itemValue="#{tipo.ordinal()}" itemLabel="#{tipo}"/>
						</h:selectOneMenu>
						
						<p><h:outputLabel value="Senha: " for="campo_senha"/></p>
						<h:inputSecret value="#{usuarioMB.usuario.senha}" id="campo_senha" label="Campo Senha" required="true"/>
						
						<h:commandButton action="#{usuarioMB.salvar()}" value="Salvar" />
					</h:form>
				</div>
			</c:if>
		</div>
</body>
</html>
