<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui">
	
	<div class="card">
		<div class="card-content">
			<a href="#{request.contextPath}/paginas/artigos/artigo.jsf?id=#{artigo.id}">
				<h4><b>#{artigo.titulo}</b></h4>
			</a>
			
			<small>
				<p>${artigo.getDataPublicacao()} | ${artigo.getHoraPublicacao()}</p>
				<p>Publicado por <a href="#{request.contextPath}/paginas/usuarios/usuario.jsf?id=#{artigo.autor.id}">${artigo.autor.nome}</a></p>
			</small>
		</div>
	</div>
</ui:composition>
