<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui">
  <header>
    <div class="navbar">
      <ul>
        <li><a href="#{request.contextPath}/index.jsf">Início</a></li>
        <li><a href="#{request.contextPath}/paginas/artigos/artigos.jsf">Artigos</a></li>
        <li><a href="#{request.contextPath}/paginas/sobre.jsf">Sobre</a></li>
       	<c:choose>
       		<c:when test="#{loginMB.isLogged() == true}">
       			<li style="float: right">
       				<h:form>
       				<h:commandLink action="#{loginMB.logoff}" value="Sair"/>
       				</h:form>
       			</li>
       			<li style="float: right">
       				<a href="#{request.contextPath}/paginas/dashboard/novo-artigo.jsf">Dashboard</a>
       			</li>
       		</c:when>
       		<c:otherwise>
       			<li style="float: right">
       				<a href="#{request.contextPath}/paginas/dashboard/login.jsf">Entrar</a>
      				</li>
       		</c:otherwise>
       	</c:choose>
      </ul>
    </div>

    <div class="header-content">
      <h1>Simple Blog</h1>
      <span>Breve descricao</span>
    </div>
  </header>
</ui:composition>
