<ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui">
	
	<div class="dashboard-menu">
		<ul>
			<li><a href="#{request.contextPath}/paginas/dashboard/novo-artigo.jsf">Escrever Artigo</a></li>
			<li><a href="#{request.contextPath}/paginas/dashboard/novo-usuario.jsf">Cadastrar Usuario</a></li>
			<li><a href="#{request.contextPath}/paginas/dashboard/listar-usuarios.jsf">Listar Usuarios</a></li>
		</ul>
	</div>
</ui:composition>
