<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputStylesheet library="default" name="css/style.css" />
		<title>Blog - ${artigoMB.artigo.titulo}</title>
	</h:head>
	<body>
		<ui:include src="/WEB-INF/template/header.xhtml" />
		<div class="container">
			<f:metadata>
				<f:viewParam name="id" value="#{artigoMB.url_id}" />
				<f:event type="preRenderView" listener="#{artigoMB.buscarArtigo()}" />
			</f:metadata>
			
			<p:growl id="growl" showDetail="true" sticky="false" />

			<ul class="breadcrumb">
				<li><a href="#{request.contextPath}/index.jsf">Inicio</a></li>
				<li><a href="#{request.contextPath}/paginas/artigos/artigos.jsf">Artigos</a></li>
				<li>${artigoMB.artigo.titulo}</li>
			</ul>

			<div class="artigo">
		    <h1>${artigoMB.artigo.titulo}</h1>
		    <span id="data-hora">Publicado em ${artigoMB.artigo.getDataPublicacao()}
		      as ${artigoMB.artigo.getHoraPublicacao()} por 
		      <a href="#{request.contextPath}/paginas/usuarios/usuario.jsf?id=#{artigoMB.artigo.autor.id}">${artigoMB.artigo.autor.nome}</a>
		    </span>
		    <hr />

		    <div id="texto">${artigoMB.artigo.texto}</div>

		    <div id="tags">
		      <span><b>TAGS:</b></span>
		      <ui:repeat value="#{artigoMB.artigo.tags}" var="tag">
		        <span>
		          <a href="#{request.contextPath}/paginas/tags/tag.jsf?id=#{tag.id}">#{tag.nome}</a>
		        </span>
		      </ui:repeat>
		    </div>
		  </div>
		</div>
</body>
</html>
