<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputStylesheet library="default" name="css/style.css" />
		<title>Simple Blog</title>
	</h:head>
	<body>
		<ui:include src="/WEB-INF/template/header.xhtml" />
		<div class="container">
			<f:metadata>
				<f:event type="preRenderView" listener="#{artigoMB.recuperarArtigos()}" />
			</f:metadata>

			<p:growl id="growl" showDetail="true" sticky="false" />

			<div style="margin-top: 20px;">
				<ul class="breadcrumb">
					<li><a href="#{request.contextPath}/index.jsf">Inicio</a></li>
					<li><a href="#{request.contextPath}/paginas/artigos/artigos.jsf">Artigos</a></li>
				</ul>
				
				<h2>Artigos</h2>
				
				<ui:repeat value="#{artigoMB.todosArtigos}" var="artigo">
			        <ui:include src="/WEB-INF/template/bloco-artigo.xhtml" />
		    	</ui:repeat>
			</div>	
		</div>
</body>
</html>
