<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputStylesheet library="default" name="css/style.css" />
		<title>Blog</title>
	</h:head>
	<body>
		<ui:include src="/WEB-INF/template/header.xhtml" />
		<div class="container">
			<f:metadata>
				<f:viewParam name="id" value="#{tagMB.url_id}" />
				<f:event type="preRenderView" listener="#{tagMB.buscarTag()}" />
			</f:metadata>
			
			<p:growl id="growl" showDetail="true" sticky="false" />

			<ul class="breadcrumb">
				<li><a href="#{request.contextPath}/index.jsf">Inicio</a></li>
				<li><a href="#{request.contextPath}/paginas/tags/tags.jsf">Tags</a></li>
				<li>${tagMB.tag.nome}</li>
			</ul>

			<h2>${tagMB.tag.nome}</h2>
			<p>#{tagMB.tag.artigos.size()} publicações com essa tag</p>
			<hr/>
			<h3>Publicações</h3>
			<ui:repeat value="#{tagMB.tag.artigos}" var="artigo">
				<ui:include src="/WEB-INF/template/bloco-artigo.xhtml" />
			</ui:repeat>
		</div>
</body>
</html>
